/* CSS _Layout */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variáveis de Tema */
:root {
    --bg-color-light: #e3e9f7;
    --bg-color-dark: #212529;
    --text-color-light: #0a0a0a;
    --text-color-dark: #f8f9fa;
    --btn-bg-light: #f8f9fa;
    --btn-bg-dark: #343a40;
    --btn-text-light: #0a0a0a;
    --btn-text-dark: #ffffff;
    --card-bg-light: #f8f9fa;
    --card-bg-dark: #2c2f33;
    --card-border-color-light: #e3e9f7;
    --card-border-color-dark: #424549;
    /* Tema claro (padrão) */
    --bg-color: var(--bg-color-light);
    --text-color: var(--text-color-light);
    --btn-bg-color: var(--btn-bg-light);
    --btn-text-color: var(--btn-text-light);
    --card-bg-color: var(--card-bg-light);
    --card-border-color: var(--card-border-color-light);
}

/* Tema Escuro */
body.dark-theme {
    --bg-color: var(--bg-color-dark);
    --text-color: var(--text-color-dark);
    --btn-bg-color: var(--btn-bg-dark);
    --btn-text-color: var(--btn-text-dark);
    --card-bg-color: var(--card-bg-dark);
    --card-border-color: var(--card-border-color-dark);
}

/* Estilos Gerais */
html {
font-size: 14px;
}

header {
color: #fff;
background-color: #0d6efd;
}

@media (min-width: 768px) {
html {
    font-size: 16px;
}
}

body {
    margin-bottom: 60px;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
    margin-top: 10px
}

.table tr:nth-child(odd) {
background-color: white;
}

.table tr:nth-child(even) {
background-color: #cfe2ff;
}

.field-validation-error {
color: red;
}

.icon-thin {
font-size: 2.5rem;
color: #6c757d;
line-height: 1;
}

#side_items {
display: flex;
flex-direction: column;
gap: 8px;
list-style: none;
padding: 0px;

}

.side-item a {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}

.side-item.active {
background-color: #0d6efd;
color: white;
border-radius: 10px;
}

.side-item.active a {
    color: #e3e9f7;
}

.side-item:hover:not(.active),
#logout_btn:hover {
background-color: #e0e0e0;
border-radius: 10px;
color: #0a0a0a;
}

.side-item.active:hover {
background-color: #0d6efd;
color: white;
}

.side-item a i {
display: flex;
align-items: center;
justify-content: center;
width: 20px;
height: 20px;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--card-bg-color);
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: fixed;
    transition: all .5s;
    min-width: 82px;
    z-index: 10;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

    #sidebar.open-sidebar .item-description {
        width: 150px;
        height: auto;
    }

#sidebar_content {
padding: 12px;
}

#user {
display: flex;
align-items: center;
gap: 8px;
margin-bottom: 24px;
}

#user_avatar {
width: 50px;
height: 50px;
object-fit: cover;
border-radius: 20px;
}

#user_infos {
display: flex;
flex-direction: column;
}

#user_infos span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}

#logout {
border-top: 1px solid #e3e9f7;
padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
    width: 100%;
    color: var(--text-color);
}

#logout_btn i {
    margin-left: 18px;
}

#open_btn {
    position: absolute;
    right: -10px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    color: var(--text-color);
}

#open_btn_icon {
transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
transform: rotate(180deg);
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}

.item-description {
width: 0px;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
font-size: 14px;
transition: width .6s;
height: 0px;
}

/* Estilos de Upload */
.custom-file-upload {
position: relative;
display: inline-block;
width: 60%;
max-width: 400px;
padding: 15px;
border: 2px dashed #007bff;
border-radius: 8px;
cursor: pointer;
text-align: center;
color: #007bff;
font-weight: bold;
transition: border-color 0.3s, background-color 0.3s;
}

.custom-file-upload:hover {
    border-color: #0056b3;
    background-color: #f0f8ff;
}

.custom-file-upload input[type="file"] {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}

.custom-file-upload .upload-text {
    display: block;
    font-size: 16px;
}

.custom-file-upload::before {
    content: "\f093";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 24px;
    color: #007bff;
}

.card {
    background-color: var(--card-bg-color);
    border: 1px solid var(--card-border-color);
}

.card-img-top {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
}

.product-title {
    font-size: 1.2rem;
    color: var(--text-color);
    margin: 8px 0;
}

.product-description {
    font-size: 0.9rem;
    color: var(--text-color);
    margin-bottom: 12px;
}

.product-price {
    font-size: 1.1rem;
    color: var(--text-color);
    font-weight: bold;
    margin: 8px 0;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--text-color);
    background-color: var(--card-bg-color);
    border-color: var(--card-border-color);
}