/* CSS _Layout */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.table tr:nth-child(odd) {
    background-color: white;
}

.table tr:nth-child(even) {
    background-color: #cfe2ff;
}

.field-validation-error {
    color: red;
}

.icon-thin {
    font-size: 2.5rem; /* Aumenta o tamanho do ícone */
    color: #6c757d; /* Cinza suave para não pesar nos olhos */
    line-height: 1; /* Centraliza o ícone verticalmente */
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    padding: 0px;
}

.side-item a {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active {
    background-color: #0d6efd;
    color: white;
    border-radius: 10px;
}

.side-item.active a {
    color: white !important;
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #e0e0e0;
    border-radius: 10px;
    color: #0a0a0a;
}

.side-item.active:hover {
    background-color: #0d6efd;
    color: white;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}

.side-item.active a {
    color: #e3e9f7;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #e3e9f7;
}

main {
    padding: 20px;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: relative;
    transition: all .5s;
    min-width: 82px;
}

#sidebar_content {
    padding: 12px;
}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
}

#user_infos {
    display: flex;
    flex-direction: column;
}

    #user_infos span:last-child {
        color: #6b6b6b;
        font-size: 12px;
    }

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

#logout_btn i {
    margin-left: 18px;
}

#open_btn {
    position: absolute;
    right: -10px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

.custom-file-upload {
    position: relative;
    display: inline-block;
    width: 60%;
    max-width: 400px;
    padding: 15px;
    border: 2px dashed #007bff;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    color: #007bff;
    font-weight: bold;
    transition: border-color 0.3s, background-color 0.3s;
}

    .custom-file-upload:hover {
        border-color: #0056b3;
        background-color: #f0f8ff;
    }

    .custom-file-upload input[type="file"] {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        cursor: pointer;
    }

    .custom-file-upload .upload-text {
        display: block;
        font-size: 16px;
    }

    .custom-file-upload::before {
        content: "\f093"; /* Unicode for upload icon in FontAwesome */
        font-family: "Font Awesome 5 Free"; /* Ensure you have FontAwesome loaded */
        font-weight: 900;
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        font-size: 24px;
        color: #007bff;
    }
